<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <%- partial('_partial/contact-buttons') %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> Programado por Ing. Emiliano Alonzo 
      <a href="https://www.github.com/emialonzo">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.facebook.com/emialonzo">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://t.me/emialonzo">
        <i class="fab fa-telegram"></i>
      </a>
      hecho con <a href="http://hexo.io/" target="_blank">Hexo</a> y <i class="fas fa-heart"></i> 
    </div>
  </div>
</footer>